In [276]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [277]:
df = pd.read_csv('pre-owned cars.csv')
df.head()

,brand,model,transmission,make_year,reg_year,fuel_type,engine_capacity(CC),km_driven,ownership,price,overall_cost,has_insurance,spare_key,reg_number,title
0,Mahindra,Thar LX D 4WD MT CONVERTIBLE,Manual,2020.0,01-01-2021,Diesel,2184.0,11003.0,1st owner,1231000,23431.0,True,No,HR26,2020 Mahindra Thar LX D 4WD MT CONVERTIBLE
1,Hyundai,Verna 1.6 VTVT SX,Manual,2018.0,01-07-2018,Petrol,1591.0,66936.0,1st owner,786000,15359.0,True,No,DL7C,2018 Hyundai Verna 1.6 VTVT SX
2,Tata,Harrier XT PLUS 2.0L KRYOTEC DARK EDITON,Manual,2022.0,01-08-2022,Diesel,1956.0,27990.0,1st owner,1489000,28349.0,True,No,HR29,2022 Tata Harrier XT PLUS 2.0L KRYOTEC DARK ED...
3,Honda,City 1.5L I-VTE V CVT,Automatic,2023.0,01-04-2023,Petrol,1498.0,5061.0,1st owner,1227000,23355.0,True,Yes,DL4C,2023 Honda City 1.5L I-VTE V CVT
4,Ford,Ecosport TITANIUM 1.5L DIESEL,Manual,2021.0,01-07-2021,Diesel,1498.0,23480.0,1st owner,887000,16883.0,True,No,UP14,2021 Ford Ecosport TITANIUM 1.5L DIESEL

In [278]:
df.shape

(2806, 15)

In [279]:
df.count()

brand                  2805
model                  2805
transmission           2805
make_year              2805
reg_year                720
fuel_type              2805
engine_capacity(CC)    2688
km_driven              2805
ownership              2805
price                  2806
overall_cost           2805
has_insurance          2805
spare_key              2805
reg_number             2805
title                  2805
dtype: int64

# Data Cleaning

- Handling Missing Values
- Handling Duplicatesa
- Check Data Types
- Understand the dataset

In [280]:
df.isnull().sum()

brand                     1
model                     1
transmission              1
make_year                 1
reg_year               2086
fuel_type                 1
engine_capacity(CC)     118
km_driven                 1
ownership                 1
price                     0
overall_cost              1
has_insurance             1
spare_key                 1
reg_number                1
title                     1
dtype: int64

In [281]:
df['brand'].value_counts()

brand
Maruti        925
Hyundai       660
Honda         276
Tata          240
Renault       167
KIA           116
Mahindra      114
Ford           64
Volkswagen     53
Nissan         38
MG             37
Toyota         36
Datsun         34
Skoda          33
Jeep           12
Name: count, dtype: int64

In [282]:
df['fuel_type'].value_counts()

fuel_type
Petrol      2373
Diesel       318
CNG          110
Electric       4
Name: count, dtype: int64

In [283]:
df['ownership'].value_counts()

ownership
1st owner    2045
2nd owner     712
3rd owner      48
Name: count, dtype: int64

In [284]:
df['make_year'].value_counts()

make_year
2017.0    359
2019.0    341
2021.0    310
2022.0    308
2018.0    303
2020.0    290
2016.0    241
2015.0    174
2014.0    156
2023.0    114
2013.0    107
2012.0     54
2011.0     43
2024.0      3
2010.0      2
Name: count, dtype: int64

In [285]:
df['model'].value_counts()

model
Baleno DELTA PETROL 1.2                              48
Swift VXI                                            46
Grand i10 SPORTZ 1.2 KAPPA VTVT                      45
Baleno ZETA PETROL 1.2                               38
Wagon R 1.0 VXI                                      32
                                                     ..
KUSHAQ AMBITION 1.0L TSI AT                           1
Glanza G ISG                                          1
XUV500 W11                                            1
AURA SX+ 1.0 TURBO GDI MT                             1
NEXON FEARLESS + SUNROOF DCA DUAL TONE 1.2 PETROL     1
Name: count, Length: 818, dtype: int64

In [286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2806 entries, 0 to 2805
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand                2805 non-null   object
 1   model                2805 non-null   object
 2   transmission         2805 non-null   object
 3   make_year            2805 non-null   float64
 4   reg_year             720 non-null    object
 5   fuel_type            2805 non-null   object
 6   engine_capacity(CC)  2688 non-null   float64
 7   km_driven            2805 non-null   float64
 8   ownership            2805 non-null   object
 9   price                2806 non-null   int64
 10  overall_cost         2805 non-null   float64
 11  has_insurance        2805 non-null   object
 12  spare_key            2805 non-null   object
 13  reg_number           2805 non-null   object
 14  title                2805 non-null   object
dtypes: float64(4), int64(1), object(10)
memory usage: 329.0+ KB

In [287]:
df.duplicated().sum()

1

In [288]:
df['model'] = df['model'].str.split().str[0]
df['ownership'] = df['ownership'].str.split().str[0]

In [289]:
char_to_remove = ['st','rd','nd']
cols_to_clean = ['ownership']

for item in char_to_remove:
    for cols in cols_to_clean:
        df[cols] = df[cols].str.replace(item,'')

In [290]:
df.drop(columns=['title','reg_number','reg_year','overall_cost','spare_key'],axis=1,inplace=True)

In [291]:
df['engine_capacity(CC)'].fillna(df['engine_capacity(CC)'].median(),inplace=True)

In [292]:
df = df.dropna().reset_index(drop=True)

In [293]:
df = df.drop_duplicates().reset_index(drop=True)

In [294]:
df.isnull().sum()

brand                  0
model                  0
transmission           0
make_year              0
fuel_type              0
engine_capacity(CC)    0
km_driven              0
ownership              0
price                  0
has_insurance          0
dtype: int64

In [295]:
df['make_year'] = df['make_year'].astype(int)
df['engine_capacity(CC)'] = df['engine_capacity(CC)'].astype(int)
df['km_driven'] = df['km_driven'].astype(int)
df['ownership'] = df['ownership'].astype(int)

In [296]:
df.head(5)

,brand,model,transmission,make_year,fuel_type,engine_capacity(CC),km_driven,ownership,price,has_insurance
0,Mahindra,Thar,Manual,2020,Diesel,2184,11003,1,1231000,True
1,Hyundai,Verna,Manual,2018,Petrol,1591,66936,1,786000,True
2,Tata,Harrier,Manual,2022,Diesel,1956,27990,1,1489000,True
3,Honda,City,Automatic,2023,Petrol,1498,5061,1,1227000,True
4,Ford,Ecosport,Manual,2021,Diesel,1498,23480,1,887000,True

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2804 entries, 0 to 2803
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand                2804 non-null   object
 1   model                2804 non-null   object
 2   transmission         2804 non-null   object
 3   make_year            2804 non-null   int32
 4   fuel_type            2804 non-null   object
 5   engine_capacity(CC)  2804 non-null   int32
 6   km_driven            2804 non-null   int32
 7   ownership            2804 non-null   int32
 8   price                2804 non-null   int64
 9   has_insurance        2804 non-null   object
dtypes: int32(4), int64(1), object(5)
memory usage: 175.4+ KB

In [298]:
df.drop('has_insurance',axis=1,inplace=True)

In [299]:
df.to_csv("car_prediction_cleaned.csv",index=False)

In [300]:
df.head()

,brand,model,transmission,make_year,fuel_type,engine_capacity(CC),km_driven,ownership,price
0,Mahindra,Thar,Manual,2020,Diesel,2184,11003,1,1231000
1,Hyundai,Verna,Manual,2018,Petrol,1591,66936,1,786000
2,Tata,Harrier,Manual,2022,Diesel,1956,27990,1,1489000
3,Honda,City,Automatic,2023,Petrol,1498,5061,1,1227000
4,Ford,Ecosport,Manual,2021,Diesel,1498,23480,1,887000

In [301]:
len(df['model'].unique()),len(df['brand'].unique())

(91, 15)

In [302]:
df['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [303]:
df['transmission'] = df['transmission'].replace(['Manual', 'Automatic'],[1,2])

In [304]:
df['brand'].unique()

array(['Mahindra', 'Hyundai', 'Tata', 'Honda', 'Ford', 'Maruti', 'KIA',
       'MG', 'Renault', 'Volkswagen', 'Nissan', 'Skoda', 'Toyota',
       'Datsun', 'Jeep'], dtype=object)

In [305]:
df['brand'] = df['brand'].replace(['Mahindra', 'Hyundai', 'Tata', 'Honda', 'Ford', 'Maruti', 'KIA',
       'MG', 'Renault', 'Volkswagen', 'Nissan', 'Skoda', 'Toyota',
       'Datsun', 'Jeep'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])

In [306]:
df['model'] = df['model'].replace(['Thar', 'Verna', 'Harrier', 'City', 'Ecosport', 'WR-V', 'PUNCH',
       'NEXON', 'XUV700', 'Dzire', 'GRAND', 'Tiago', 'Creta', 'Alto',
       'Amaze', 'SELTOS', 'HECTOR', 'TIGOR', 'FREESTYLE', 'Ciaz',
       'Celerio', 'CARENS', 'IGNIS', 'TRIBER', 'XUV500', 'S', 'ALTROZ',
       'Xcent', 'Grand', 'XL6', 'Wagon', 'NEW', 'Baleno', 'VENUE',
       'VIRTUS', 'SONET', 'MAGNITE', 'Rapid', 'Swift', 'Ertiga', 'YARIS',
       'Go', 'KUV', 'Vitara', 'Kwid', 'Ameo', 'Redi', 'Jazz', 'Tucson',
       'TIAGO', 'Kiger', 'Safari', 'Polo', 'i20', 'URBAN', 'Compass',
       'XUV300', 'Glanza', 'Elite', 'Duster', 'Vento', 'New', 'AURA',
       'XCENT', 'Brio', 'Ritz', 'Etios', 'i10', 'BREZZA', 'Santro',
       'Bolero', 'Scorpio', 'Kuv100', 'BR-V', 'Eeco', 'Micra', 'Eon',
       'Innova', 'TUV300', 'Pulse', 'OMNI', 'KUSHAQ', 'A', 'TAIGUN',
       'Zest', 'Terrano', 'Nano', 'ALCAZAR', 'Civic', 'SLAVIA', 'Corolla'],[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91])

In [307]:
df['fuel_type'].unique()

array(['Diesel', 'Petrol', 'CNG', 'Electric'], dtype=object)

In [308]:
df['fuel_type'] = df['fuel_type'].replace(['Diesel', 'Petrol', 'CNG', 'Electric'],[1,2,3,4])

In [309]:
df.head(100)

,brand,model,transmission,make_year,fuel_type,engine_capacity(CC),km_driven,ownership,price
0,1,1,1,2020,1,2184,11003,1,1231000
1,2,2,1,2018,2,1591,66936,1,786000
2,3,3,1,2022,1,1956,27990,1,1489000
3,4,4,2,2023,2,1498,5061,1,1227000
4,5,5,1,2021,1,1498,23480,1,887000
...,...,...,...,...,...,...,...,...,...
95,11,37,1,2021,2,999,30455,1,522000
96,2,29,1,2018,2,1197,40398,1,396000
97,6,31,1,2017,2,998,60446,1,350000
98,9,45,1,2016,2,999,20709,1,262000
99,4,4,1,2017,2,1497,78608,1,578000

In [326]:
## independent features and dependent features
X = df.drop(['price'],axis=1)
y = df['price']

In [327]:
pd.DataFrame(X)

,brand,model,transmission,make_year,fuel_type,engine_capacity(CC),km_driven,ownership
0,1,1,1,2020,1,2184,11003,1
1,2,2,1,2018,2,1591,66936,1
2,3,3,1,2022,1,1956,27990,1
3,4,4,2,2023,2,1498,5061,1
4,5,5,1,2021,1,1498,23480,1
...,...,...,...,...,...,...,...,...
2799,4,65,1,2013,2,1198,96363,2
2800,5,5,2,2018,2,1497,46982,1
2801,4,48,1,2015,2,1199,38706,2
2802,2,59,1,2016,2,1197,31405,1
2803,6,33,1,2017,2,1197,47676,1

In [328]:
# Train Test Split 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape ,X_test.shape

((2243, 8), (561, 8))

In [329]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [330]:
# create function for evaluate model
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [331]:
# begining  model training

models = {
    'LinearRegression' : LinearRegression(),
    'Lasso' : Lasso(),
    'Ridge' : Ridge(),
    'KNeighborsRegressor' : KNeighborsRegressor(),
    'DecisionTreeRegressor' : DecisionTreeRegressor(),
    'RandomForestRegressor' : RandomForestRegressor()
}

# Train Model
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    # Make prediction 
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate the Model
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test,y_test_pred)
    
    print(list(models.keys())[i])
    
    print('- Model Performance for Training set')
    
    print('- Root Mean Squared Error : {:.4f}'.format(model_train_rmse))
    print('- Mean Absolute Error : {:.4f}'.format(model_train_mae))
    print('- R2 Score : {:.4f}'.format(model_train_r2))
    
    print('-------------------------------------')
    
    print('- Model Performance for Testing set')
    print('- Root Mean Squared Error : {:.4f}'.format(model_test_rmse))
    print('- Mean Absolute Error : {:.4f}'.format(model_test_mae))
    print('- R2 Score : {:.4f}'.format(model_test_r2))
    
    print("="*35)
    print('\n')

LinearRegression
- Model Performance for Training set
- Root Mean Squared Error : 186316.9599
- Mean Absolute Error : 134246.7866
- R2 Score : 0.6858
-------------------------------------
- Model Performance for Testing set
- Root Mean Squared Error : 182379.8929
- Mean Absolute Error : 132123.3136
- R2 Score : 0.6873
===================================


Lasso
- Model Performance for Training set
- Root Mean Squared Error : 186316.9599
- Mean Absolute Error : 134246.7206
- R2 Score : 0.6858
-------------------------------------
- Model Performance for Testing set
- Root Mean Squared Error : 182380.0054
- Mean Absolute Error : 132123.2685
- R2 Score : 0.6873
===================================


Ridge
- Model Performance for Training set
- Root Mean Squared Error : 186316.9919
- Mean Absolute Error : 134243.2472
- R2 Score : 0.6858
-------------------------------------
- Model Performance for Testing set
- Root Mean Squared Error : 182382.5039
- Mean Absolute Error : 132120.8892
- R2 Score : 0.6872
===================================


KNeighborsRegressor
- Model Performance for Training set
- Root Mean Squared Error : 221920.0884
- Mean Absolute Error : 165478.8230
- R2 Score : 0.5543
-------------------------------------
- Model Performance for Testing set
- Root Mean Squared Error : 275542.1649
- Mean Absolute Error : 202861.3191
- R2 Score : 0.2861
===================================


DecisionTreeRegressor
- Model Performance for Training set
- Root Mean Squared Error : 0.0000
- Mean Absolute Error : 0.0000
- R2 Score : 1.0000
-------------------------------------
- Model Performance for Testing set
- Root Mean Squared Error : 129523.6164
- Mean Absolute Error : 85354.7237
- R2 Score : 0.8423
===================================


RandomForestRegressor
- Model Performance for Training set
- Root Mean Squared Error : 38148.3317
- Mean Absolute Error : 25139.3758
- R2 Score : 0.9868
-------------------------------------
- Model Performance for Testing set
- Root Mean Squared Error : 100573.7665
- Mean Absolute Error : 66852.7094
- R2 Score : 0.9049
===================================

In [ ]:
# # initializing few paramerter for hyperparameter tunning 
# rf_param = {"max_depth" : [5,8,15,None,10],
#             "max_features" : [5,7,'auto',8],
#             "min_samples_split" : [2,8,15,20],
#             "n_estimators" : [100,200,500,1000] }

In [317]:
# # models lsit for hyperparameter tunning 
# randomcv_models = [('RF', RandomForestRegressor(),rf_param) ]

In [318]:
# # hyperparameter tunning 
# from sklearn.model_selection import RandomizedSearchCV

# model_param ={}
# for name,model,params in randomcv_models:
#     random = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=1)
#     random.fit(X_train,y_train)
#     model_param[name] = random.best_params_
# for  model_name in model_param:
#     print(f'--------------- Best Params for {model_name} ------------------ ')
#     print(model_param[model_name])

In [332]:
# begining  model training

models = {
    'RandomForestRegressor' : RandomForestRegressor(n_estimators = 1000, min_samples_split = 2, max_features = 7, max_depth = 15,n_jobs= -1)
}

# Train Model
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    # Make prediction 
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate the Model
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test,y_test_pred)
    
    print(list(models.keys())[i])
    
    print('- Model Performance for Training set')
    
    print('- Root Mean Squared Error : {:.4f}'.format(model_train_rmse))
    print('- Mean Absolute Error : {:.4f}'.format(model_train_mae))
    print('- R2 Score : {:.4f}'.format(model_train_r2))
    
    print('-------------------------------------')
    
    print('- Model Performance for Testing set')
    print('- Root Mean Squared Error : {:.4f}'.format(model_test_rmse))
    print('- Mean Absolute Error : {:.4f}'.format(model_test_mae))
    print('- R2 Score : {:.4f}'.format(model_test_r2))
    
    print("="*35)
    print('\n')

RandomForestRegressor
- Model Performance for Training set
- Root Mean Squared Error : 39728.7445
- Mean Absolute Error : 27756.4643
- R2 Score : 0.9857
-------------------------------------
- Model Performance for Testing set
- Root Mean Squared Error : 97607.8526
- Mean Absolute Error : 65739.2277
- R2 Score : 0.9104
===================================

In [333]:
best_model = RandomForestRegressor(n_estimators = 1000, min_samples_split = 2, max_features = 7, max_depth = 15,n_jobs= -1)

In [334]:
best_model.fit(X_train,y_train)

RandomForestRegressor(max_depth=15, max_features=7, n_estimators=1000,
                      n_jobs=-1)

In [335]:
best_model.score(X_test,y_test)*100

91.1054895725845

In [336]:
y_pred = best_model.predict(X_test)
y_pred[:5]

array([406968.59075647, 375852.5       , 588329.25828902, 745298.95138889,
       583583.46554143])

In [337]:
y_test[:5]

1091    391000
1041    375000
1521    660000
2503    725000
1518    639000
Name: price, dtype: int64

In [338]:
import pickle
pickle.dump(model,open('model.pkl','wb'))